// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.button {
  display: block;
  font-weight: 200;
  font-size: 13px;
  text-align: center;
  padding-top: 5px; // for vertical align

  width: 65px;
  height: 35px;
  border-radius: 0.1875rem;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}
.signup-button {
  color: #fff;
  background-color: #247f9e;
  margin-right: 10px;
  border: 0.0625rem solid #247f9e;
  &:hover {
    cursor: pointer;
  }
}
.signin-button {
  color: #2d333f;
  background-color: f7f7f7;
  margin-right: 10px;
  border: 0.0625rem solid #247f9e;
  &:hover {
    cursor: pointer;
  }
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
button,
select {
  text-transform: none;
}
button,
input {
  overflow: visible;
  font-family: inherit;
}

// signup/signin session form:
.session-form {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  width: 100%;
  .session-form-box {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    width: 40vh;
    height: 45vh;
    justify-content: flex-start;
    // align-items: center;
    padding: 10px;
    .login-input {
      margin-left: 0px;
      border: 0.0625rem solid #247f9e;
      margin-bottom: 10px;
      width: 98%;
      height: 25px;
    }
    .login-button {
      display: block;
      color: #fff;
      width: 100%;
      height: 40px;
      margin-top: 10px;
      padding: 0px;
      background-color: #247f9e;
      // margin-right: 10px;
      border: 0.0625rem solid #247f9e;
      &:hover {
        cursor: pointer;
        background-color: #175b72;
      }
    }
    .login-link-container {
      a {
        color: #247f9e;
        font-weight: bold;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .session-errors {
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      color: red;
    }
    .session-reminder {
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      color: #247f9e;
    }
    label {
      font-size: 12px;
      font-weight: 400;
      color: gray;
      text-align: left;
    }
  }
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  background-color: rgb(255, 255, 255);
  color: rgb(45, 51, 63);
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 1px solid black;
  padding: 15px;
  border-radius: 0.1875rem;
}
