// variable constant used below were found at: https://sass-lang.com/documentation/variables
$nav-height: 45px;

.profile-pg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-img {
  width: 100%;
  justify-content: space-around;
  // background-color: navy;
}

.top-img .profile-photo {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}
.save-box {
  background-color: whitesmoke;
}

.main-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 950px;
  min-width: 500px;
  height: 100%;
}

.left-bar {
  // background-color: lightpink;
  background-color: whitesmoke;
  margin-top: -$nav-height;
  width: 60%;
  padding: 20px;
  padding-top: 10px;
}

.right-bar {
  // background-color: green;
  width: 30%;
  display: flex;
  flex-direction: column;
  font-size: 14px;

  .attri {
    margin-bottom: 10px;
  }
  .attri-name {
    font-weight: 600;
    margin-bottom: 2px;

    .icon {
      margin-right: 3px;
    }
  }
  .attri-content {
    padding-left: 17px;
  }
}
.navigation {
  display: flex;
  // align-items: center;
  height: ($nav-height)-10px;
  border-bottom: 1px solid lightgrey;
}
.navigation div {
  // background-color: orange;
  margin-right: 30px;
  font-size: 14px;
  font-weight: 370;
  padding-top: 4px;
  &:hover {
    border-bottom: 2px solid var(--red);
    color: var(--red);
    cursor: pointer;
  }
}
#overview {
  border-bottom: 2px solid var(--red);
  color: var(--red);
}

.rest-name {
  padding-top: 38px;
  padding-bottom: 38px;
  font-size: 52px;
  font-weight: 600;
  border-bottom: 1px solid lightgrey;
}

.safety-precautions {
  margin-top: 30px;
  .module-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
    align-items: flex-start;
    padding-top: 15px;
    line-height: 1.8;
    // background-color: peru;
    ul {
      font-size: 10px;
    }

    .sub-title {
      font-size: 14px;
      font-weight: 600;
      padding-bottom: 5px;
    }
    .sub-list {
      width: 50%;
      margin-bottom: 20px;

      li {
        font-size: 14px;
      }

      .check-icon {
        padding-right: 5px;
      }
    }
  }
}
.module-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 20px;
}

.dollor-range {
  display: flex;
  flex-direction: row;
  .bill-icon {
    padding-right: 5px;
  }
}

.rest-meta-data {
  padding-top: 18px;
  display: flex;
  flex-direction: row;
  font-size: 16px;
}

.fork-icon {
  padding-right: 5px;
}

.short-div {
  width: 130px;
}

.top-tag {
  padding-top: 14px;
  display: flex;
  flex-direction: row;
  height: 34px;

  .tag-title {
    padding-top: 8px;
    width: 80px;
  }
  .tag-badge {
    display: inline-block;
    border-color: lightgrey;
    border-style: solid;
    border-width: thin;
    border-radius: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 10px;
    font-size: 13px;
    font-weight: 400;
    &:hover {
      border-color: var(--red);
      border-width: 2px;
      cursor: pointer;
    }
  }
}

.rest-description {
  margin-top: 28px;
  line-height: 1.5;
}
.menu-img {
  width: 100%;
}

.attri-content {
  margin-bottom: 10px;
  font-size: 13px;
}
.right-bar .attri-name {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 5px;
}

.rating-star-icon {
  color: var(--red);
  margin-right: 1px;
}
