// Place all the styles related to the api/restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurant-index-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  h2 {
    display: block;
    width: 100%;
    font-size: 25px;
    font-weight: 600;
  }
}

.restaurant-profile-list {
  display: flex;
  //   justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
  border-top: 1px solid lightgrey;
  padding-top: 20px;
}
.restaurant-profile-item {
  position: relative;
  bottom: 0;
  width: 260px;
  border-style: solid;
  border-color: lightgray;
  border-width: thin;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: none;
  transition: all 0.3s;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 240px;
  padding-bottom: 8px;
  margin-bottom: 30px;
  margin-left: 16px;
  text-align: left;
  &:hover {
    bottom: 2px;
    box-shadow: 0 6px 6px rgba(30, 30, 30, 0.4);
  }
  button {
    border: none;
    // text-decoration: none;
    &:hover {
      cursor: pointer;
    }
  }
}

.res-profile-img {
  width: 100%;
}
.res-profile-name {
  font-weight: 800px;
  color: black;
  padding: 6px;
}
.res-profile-info {
  display: flex;
  justify-content: flex-start;
  font-size: 0.8rem;
  color: rgb(30, 30, 30);
  padding: 6px;
  & > * {
    margin-right: 8px;
  }
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(235, 234, 234, 0.996);
}

.res-profile-btn {
  color: var(--red);
  font-weight: 300px;
  background-color: transparent;
  border-top: 10px;
  border: 1px solid lightgrey;
  text-align: left;
}

.four-dollar {
}
.black-dollar {
  margin-right: -4px;
}
.grey-dollar {
  color: lightgrey;
  margin-right: -4px;
}
