.profile-pg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-img {
  width: 100%;
  justify-content: space-around;
}

.top-img .profile-photo {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}
.save-box {
  background-color: whitesmoke;
}

.main-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 950px;
  min-width: 500px;
  height: 100%;
}

.left-bar {
  background-color: whitesmoke;
  margin-top: -40px;
  width: 60%;
  padding: 20px;
  padding-top: 10px;
}

.right-bar {
  background-color: green;
  width: 30%;
  padding: 15px;
}

.navigation {
  display: flex;
  flex-direction: row;
  height: 30px;
  border-bottom: 1px solid lightgrey;
}
#nav-session {
  background-color: orange;
  border-bottom: 1px solid red;
  color: red;
}

.rest-name {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 50px;
  font-weight: 600;
  border-bottom: 1px solid lightgrey;
}
